{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block content %}
 <h2>{% trans "New poll" %}</h2>
<form action="http://{{root_url}}create" method="post">
<table class='new_poll'>
  <tr><td colspan='3'>{{form.author_name.errors}}</td></tr>
  <tr>
   <td><label for='author_name'>{{form.author_name.label}}</label></td>
   <td>{{form.author_name}}</td>
   <td class='form_description'>{{form.author_name.help_text}}</td>
  </tr>

  <tr><td colspan='3'>{{form.name.errors}}</td></tr>
  <tr>
   <td><label for='name'>{{form.name.label}}</label></td>
   <td>{{form.name}}</td>
   <td class='form_description'>{{form.name.help_text}}</td>
  </tr>

  <tr><td colspan='3'>{{form.description.errors}}</td></tr>
  <tr>
   <td><label for='description'>{{form.description.label}}</label></td>
   <td>{{form.description}}</td>
   <td class='form_description'>{{form.description.help_text}}</td>
  </tr>
{% if form.category %}
  <tr><td colspan='3'>{{form.category.errors}}</td></tr>
  <tr>
   <td><label for='category'>{{form.category.label}}</label></td>
   <td>{{form.category}}</td>
   <td class='form_description'>{{form.category.help_text}}</td>
  </tr>
{% endif %}
  <tr><td colspan='3'>{{form.public.errors}}</td></tr>
  <tr>
   <td><label for='public'>{{form.public.label}}</label></td>
   <td>{{form.public}}</td>
   <td class='form_description'>{{form.public.help_text}}</td>
  </tr>

  <tr><td colspan='3'>{{form.poll_type.errors}}</td></tr>
  <tr>
   <td><label for='poll_type'>{{form.poll_type.label}}</label></td>
   <td>{{form.poll_type}}</td>
   <td class='form_description'>{{form.poll_type.help_text|markdown}}</td>
  </tr>
  <tr>
   <td></td>
   <td><input type='submit' value='{% trans "Create" %}' class='submit'/></td>
  </tr>
</table>
</form>

{% endblock %}
