{% load i18n %}
{% extends "base.html" %}

{% block content %}
 <h2>{{poll_type_name}} - {{poll_name}}</h2>
{% if error %}<p class='error'>{{ error }}</p>{% endif %}
 <p>{{poll_desc}}</p>
 <form method='post' action='{{base_url}}'>
 <div id='poll_table'>
 <table id='poll'>
 <tr>
  <td class='simple'></td>
  <td class='simple'></td>
  {% for choice in choices %}<th>{{choice.name}}</th>
 {% endfor %}</tr>
 {% for voter in voters %}<tr>{% ifequal current_voter_id voter.id %}
  <input type='hidden' name='voter' value='{{voter.id}}'/>
  <td class='simple'></td>
  <td><input type='text' name='author_name' value='{{voter.name}}'/></td>
  {% for vote in voter.votes %}<td>
  {% ifequal poll_type 'P' %}
  <input type='checkbox' name='{%if vote.id%}vote_{{vote.id}}{%else%}choice_{{vote}}{%endif%}'{%ifequal vote.value 1%} checked='checked'{%endifequal%}/>
  {% endifequal %}
  {% ifequal poll_type 'B' %}
  <select name='{%if vote.id%}vote_{{vote.id}}{%else%}choice_{{vote}}{%endif%}'>
    {% for vote_choice in VOTE %}
    <option value='{{vote_choice.0}}'{%ifequal vote.value vote_choice.0%} selected='selected'{%endifequal%}>{{vote_choice.1}}</option>
    {% endfor %}
  </select>
  {% endifequal %}
  </td>{%endfor%}
  {%else%}<td class='simple'><a href='?voter={{voter.id}}'>{% trans "Edit" %}</a></td>
  <td>{{voter.name}}</td>
  {% for vote in voter.votes %}<td class='{%ifequal vote.value 1%}OK{%else%}{%ifequal vote.value 0%}OKO{%else%}KO{%endifequal%}{%endifequal%}'>
  {%ifequal poll_type 'P'%}
  {%ifequal vote.value 0%}{% trans "No" %}{%else%}{% trans "Yes" %}{%endifequal%}
  {%else%}
  {%for VOT in VOTE%}
  {%ifequal VOT.0 vote.value%}{{VOT.1}}{%endifequal%}{%endfor%}
  {%endifequal%}
  </td>
  {%endfor%}
  {%endifequal%}
 </tr>{%endfor%}
 {%if not current_voter_id%}
 <tr>
  <td class='simple'></td>
  <td><input type='text' name='author_name'/></td>
  {%for choice in choices%}<td>
  {% ifequal poll_type 'P' %}
  <input type='checkbox' name='choice_{{choice.id}}'/>{% endifequal %}
  {% ifequal poll_type 'B' %}
  <select name='choice_{{choice.id}}'>{% for vote_choice in VOTE %}
    <option value='{{vote_choice.0}}'{%ifequal vote_choice.0 0%} selected='selected'{%endifequal%}>{{vote_choice.1}}</option>{% endfor %}
  </select>
  {% endifequal %}
  </td>{%endfor%}
 </tr>
 {%endif%}
 <tr id='sum'>
  <td class='simple'></td><th>{% trans "Sum" %}</th>
  {% for sum in choices_sum %}<td>{{sum}}</td>
  {% endfor %}
 </tr>
 </table>
 </div>
 <input type='submit' value='{%if current_voter_id%}{% trans "Edit" %}{%else%}{% trans "Participate" %}{%endif%}'/>
 </form>
{% endblock %}
