{% extends "base.html" %}
{% load i18n %}

{% block content %}
 <h2>{%if poll.category %}{{poll.category.name}} - {%endif%}{{poll.name}}</h2>
{% if error %}<p class='alert'>{{ error }}</p>{% endif %}
{% if not poll.open %}<p class='alert'>{% trans "The current poll is closed."%}</p>{% endif %}
 <p>{{ poll.description }}</p>
 <form method='post' action='{{base_url}}'>
 <div id='poll_table'>
 <table id='poll'>
 <tr>
  <td class='simple'></td>
  <td class='simple'></td>
  {% for choice in choices %}<th>{{choice.name}}{% if choice.limit %} ({% trans "max" %} {{choice.limit}}){%endif%}</th>
 {% endfor %}</tr>
 {% if not hide_vote %}
 {% for voter in voters %}<tr{% if voter.highlight %} class='highlighted_voter'{% endif %}>
 {% ifequal current_voter_id voter.id %}
  <input type='hidden' name='voter' value='{{voter.id}}'/>
  <td class='simple'></td>
  <td><input type='text' name='author_name' value='{{voter.user.name}}'/></td>
  {% for vote in voter.votes %}<td>
  {% if vote.choice.available or vote.value %}
  {% ifequal poll.type 'P' %}
  <input type='checkbox' name='vote_{{vote.id}}'{%ifequal vote.value 1%} checked='checked'{%endifequal%}/>
  {% endifequal %}
  {% ifequal poll.type 'O' %}
  <input type='radio' name='vote' value='{{vote.id}}' {%ifequal vote.value 1%} checked='checked'{%endifequal%}/>
  {% endifequal %}
  {% ifequal poll.type 'B' %}
  <select name='vote_{{vote.id}}'>
    {% for vote_choice in VOTE %}
    <option value='{{vote_choice.0}}'{%ifequal vote.value vote_choice.0%} selected='selected'{%endifequal%}>{{vote_choice.1.1}}</option>
    {% endfor %}
  </select>
  {% endifequal %}
  {% else %}
  {% trans "Limit reached" %}
  {% endif %}
  </td>{%endfor%}
  {%else%}<td class='simple'>{% if poll.open %}<a href='?voter={{voter.id}}'>{% trans "Edit" %}</a>{%else%}&nbsp;{%endif%}</td>
  <td>{{voter.user.name}}</td>
  {% for vote in voter.votes %}<td class='{%ifequal vote.value 1%}OK{%else%}{%ifequal vote.value 0%}OKO{%else%}KO{%endifequal%}{%endifequal%}'>
  {%ifequal poll.type 'B'%}
  {%for VOT in VOTE%}
  {%ifequal VOT.0 vote.value%}{{VOT.1.1}}{%endifequal%}{%endfor%}
  {%else%}
  {%for VOT in VOTE%}
  {%ifequal VOT.0 vote.value%}{{VOT.1.0}}{%endifequal%}{%endfor%}
  {%endifequal%}
  </td>
  {%endfor%}
  {%endifequal%}
 </tr>{%endfor%}
 {%endif%}
 {%if not current_voter_id%}{% if poll.open %}
 <tr>
  <td class='simple'></td>
  <td><input type='text' name='author_name'/></td>
  {%for choice in choices%}<td>
  {% if choice.available %}
  {% ifequal poll.type 'P' %}
  <input type='checkbox' name='choice_{{choice.id}}'/>{% endifequal %}
  {% ifequal poll.type 'O' %}
  <input type='radio' name='choice' value='{{choice.id}}'/>{% endifequal %}
  {% ifequal poll.type 'B' %}
  <select name='choice_{{choice.id}}'>{% for vote_choice in VOTE %}
    <option value='{{vote_choice.0}}'{%ifequal vote_choice.0 0%} selected='selected'{%endifequal%}>{{vote_choice.1.1}}</option>{% endfor %}
  </select>
  {% endifequal %}
  {% else %}
  {% trans "Limit reached" %}
  {% endif %}
  </td>{%endfor%}
 </tr>
 {%endif%}{%endif%}
 {% if not hide_vote %}<tr id='sum'>
  <td class='simple'></td><th>{% trans "Sum" %}</th>
  {% for choice in choices %}<td{%if choice.highlight %} class='highlight'{%endif%}>{{choice.getSum}}</td>
  {% endfor %}
 </tr>{%endif%}
 </table>
 {% if poll.open %}
 <input type='submit' value='{%if current_voter_id%}{% trans "Edit" %}{%else%}{% trans "Participate" %}{%endif%}' class='submit'/>
 {% endif %}
 </div>
 <hr class='spacer'/>
 </form>
 <div class='footnote'>
 {%if hide_vote%}<p>{% trans "You have already vote? You are enough wise not to be influenced by other votes? You can display result by clicking" %} <a href='?display_result=1'>{% trans "here" %}</a>.</p>{%else%}
 <p>{% trans "Remain informed of poll evolution:" %} <a href="http://{{root_url}}feeds/poll/{{poll.base_url}}/">{%trans "syndication"%}</a></p>{%endif%}
 </div>
{%if not hide_vote%}
<h3>{%trans "Comments"%}</h3>
<div class='comments'>
 {%if poll.open%}<form method='post' action='{{base_url}}'>
 <table class='comment'>
  <tr>
   <td><label for='comment_author'>{% trans "Author name" %}</label></td>
   <td><input type='text' name='comment_author'/></td>
  </tr>
  <tr>
   <td><label for='comment'>{% trans "Comment"%}</label></td>
   <td><textarea name='comment'></textarea></td>
  </tr>
  <tr><td colspan='2' id='tdsubmit'><input type='submit' class='submit' value='{% trans "Send" %}'/></td></tr>
 </table>
</form>{%endif%}
 <ul>{%for comment in comments%}
  <li><p class='author'>{{comment.author_name}}, {{comment.date|date:_("DATETIME_FORMAT")}} :</p>
  <pre>{{comment.text}}</pre>{%endfor%}
 </dl>
</div>{%endif%}
{% endblock %}