<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <link rel="stylesheet" href="{{media_url}}styles.css" />
 <title>{% block title %}Papillon{% endblock %}</title>
 {% block fullscript %}{% endblock %}
</head>

<body>
<div id="main">
<div id="header">
<span id='languages'>{% for language in languages%}<a href='?language={{language.0}}'>{{language.1}}</a>{% endfor %}</span>
</div>
<div id="top">
 <h1><a href='{% url "index" %}'>Papillon</a></h1>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<div id="footer">
<a href='http://blog.peacefrogs.net/nim/papillon/'>Papillon</a> - <a href='http://www.gnu.org/licenses/gpl.html'>Copyright</a> © 2008-2013 <a href='http://redmine.peacefrogs.net/projects/show/papillon'>Papillon project</a>
</div>
</div>
</body>
</html>

