{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block fullscript %}
   {{ form.media }}
{% endblock %}


{% block content %}
 <h2>{% trans "New poll" %}</h2>
<form action="." method="post">
<table class='new_poll'>
  {% for field in form %}
  {% if field.is_hidden %}
  {{field}}
  {% else %}
  <tr><td colspan='3'>{{field.errors}}</td></tr>
  <tr>
   <td>{{field.label_tag}}</td>
   <td>{{field}}</td>
   <td class='form_description'>{{field.help_text|markdown}}</td>
  </tr>
  {% endif %}
  {% endfor %}
  <tr>
   <td></td>
   <td><input type='submit' value='{% trans "Create" %}' class='submit'/></td>
  </tr>
</table>
</form>

{% endblock %}
