{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block fullscript %}
<script type="text/javascript" src="{%url admin_i18n%}"></script>
<script type="text/javascript" src="{{admin_url}}js/core.js"></script>
<script type="text/javascript" src="{{admin_url}}js/admin/RelatedObjectLookups.js"></script>
{{ form_new_choice.media }}
{% endblock %}

{% block content %}
 <p><a href="{% url poll poll.base_url %}">{%trans "Return to the poll"%}</a></p>
<h2>{% trans "Choices" %}</h2>
{% if choices %}<table class='new_poll'>
  <tr>
   <th>{% trans "Label" %}</th>
   <th>{% trans "Limit" %}</th>
  </tr>
  {% for choice in choices %}<tr>
   <td>{%if poll.dated_choices%}{{choice.date|date:_("DATETIME_FORMAT")}}{%else%}{{choice.name}}{%endif%}</td>
   <td>{% if choice.limit %}{% trans "Limited to"%} {{choice.limit}} {% trans "vote(s)" %}{% endif %}</td>
  </tr>{% endfor %}
</table>
{% endif %}
{% include 'editChoices.html' %}
{% endblock %}
