{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block fullscript %}
<script type="text/javascript" src="{{root_url}}admin/jsi18n/"></script>
<script type="text/javascript" src="{{root_url}}media/js/core.js"></script>
<script type="text/javascript" src="{{root_url}}media/js/admin/RelatedObjectLookups.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
 <h2>{% trans "Edit poll" %}</h2>
<form action="" method="post">
<table class='new_poll'>
  <tr>
   <td><label>{% trans "Poll url" %}</label></td>
   <td>
<a href='{{root_url}}poll/{{poll.base_url}}'>{{root_url}}poll/{{poll.base_url}}</a>
   </td>
   <td class='form_description'><p>
{% trans "Copy this address and send it to voters who want to participate to this poll" %}
   </p></td>
  </tr>
  <tr>
   <td><label>{% trans "Administration url" %}</label></td>
   <td>
<a href='{{root_url}}edit/{{poll.admin_url}}'>{{root_url}}edit/{{poll.admin_url}}</a>
   </td>
   <td class='form_description'><p>
   {% trans "Address to modify the current poll" %}
   </p></td>
  </tr>
  <tr>
   <td><label>{% trans "Choices administration url" %}</label></td>
   <td>
<a href='{{root_url}}editChoicesAdmin/{{poll.admin_url}}'>{{root_url}}editChoicesAdmin/{{poll.admin_url}}</a>
   </td>
   <td class='form_description'><p>
   {% trans "Address to modify choices of the current poll." %}
   </p></td>
  </tr>
  {% for field in form %}
  {% if field.is_hidden %}
  {{field}}
  {% else %}
  <tr><td colspan='3'>{{field.errors}}</td></tr>
  <tr>
   <td>{{field.label_tag}}</td>
   <td>{{field}}</td>
   {% if field.help_text %}<td class='form_description'>{{field.help_text|markdown}}</td>{%endif%}
  </tr>
  {% endif %}
  {% endfor %}
  <tr>
   <td></td>
   <td><input type='submit' value='{% trans "Edit" %}' class='submit'/></td>
  </tr>
</table>
</form>

{% endblock %}
